body
{
}

canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

.comparison {
    width: 100%;
}

.comparison .quadrant {
    width: 50%;
}